body {
    padding-top: 40px;
    position: relative;
}
.container {
    margin: 0 auto;
    max-width: 700px;
}
.ui-slider-horizontal .ui-slider-handle {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
select, input[type="text"], .uneditable-input {
  height: auto;
}
label {
    display: inline-block;
    vertical-align: middle;
}
.ui-slider.ui-slider-horizontal {
    width: 260px;
}
.gpii-NPGatheringTool-orca-voice-default-rate div {
    display: inline-block;
}
.gpii-NPGatheringTool-orca-voice-default-rate #min-text-size {
    width: 40px;
}
input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}